{% extends '/components/header_user.html.twig' %}
{% block inner %}
{% include '/components/navbar_user.html.twig' %}
<div class="container">
  {% block content %}
  {% endblock %}
</div>
{% include '/components/footer_user.html.twig' %}
{% endblock %}