{% extends '/components/header.html.twig' %}
{% block inner %}
{% include '/components/navbar.html.twig' %}
<div class="container">
  {% block content %}
  {% endblock %}
</div>
{% include '/components/footer.html.twig' %}
{% endblock %}