<nav id="navbar">
  <div class="container">
    <a href="{{ base_url }}/admin/dashboard">
      {% include '/components/logo.html.twig' %}
    </a>
    {% include '/components/bar_admin.html.twig' %}
    <a href="{{ base_url }}/admin/logout" class="btn btn-color">Logout</a>
  </div>
</nav>