<div id="banner">
  <div class="container">
    <div class="info" id="banner-info">
      <h1>Conectando você ao conhecimento: Explore nossa rede de cursos gratuitos e construa os alicerces para uma
        carreira sólida em Redes de Computadores!</h1>
      <h2>Seu destino para dominar a tecnologia: Descubra o poder dos cursos gratuitos em <span>REDES DE
          COMPUTADORES</span> e
        alcance novos patamares na sua jornada de TI!</h2>
      <a href="#" class="btn btn-color wauto">Explorar Cursos</a>
    </div>
    <div class="image">
      <img id="banner-image" data-base-url="{{ base_url }}" src="{{ base_url }}/public/images/light_bg.png"
        alt="Background Image">
    </div>
  </div>
</div>