<div id="modal" class="hide">
  <div id="modal-box">
    <p id="modal-question"></p>
    <div id="modal-actions">
      <button type="button" class="btn btn-warning" id="modal-cancel">Cancelar</button>
      <a href="#" class="btn btn-active" id="modal-confirm">Confirmar</a>
    </div>
  </div>
</div>