<div id="modal">
  <div id="modal-box">
    <p id="modal-question"></p>
    <div id="modal-actions">
      <button type="button" class="btn btn-warning">Cancelar</button>
      <a href="#" class="btn btn-active">Confirmar</a>
    </div>
  </div>
</div>