<div class="bar">
  <a href="{{ base_url }}/admin/dashboard">Cursos</a>
  <a href="{{ base_url }}/admin/course/create">Novo Curso</a>
  <a href="{{ base_url }}/admin/users/dashboard">Usuários</a>
  <a href="{{ base_url }}/admin/settings">Configurações</a>
</div>