{% extends '/components/administrators/header.html.twig' %}
{% block inner %}
{% include '/components/administrators/navbar.html.twig' %}
<div class="container">
  <div class="toggle-theme">
    <div class="container">
      <ion-icon name="sunny" id="light" class="hide"></ion-icon>
      <ion-icon name="moon" id="dark"></ion-icon>
    </div>
  </div>
  {% block content %}
  {% endblock %}
</div>
{% include '/components/administrators/footer.html.twig' %}
{% include '/components/others/modal.html.twig' %}
{% endblock %}