<nav>
  <div id="navbar" class="container">
    <ion-icon name="reorder-three" id="navbar-drop"></ion-icon>
    <a href="{{ base_url }}/admin/dashboard">
      {% include '/components/others/logo.html.twig' %}
    </a>
    {% include '/components/administrators/bar.html.twig' %}
    <a href="{{ base_url }}/admin/logout" class="btn btn-color logout">Logout</a>
  </div>
</nav>