:root {
	--primary-color: #040404;
	--secondary-color: #1590f9;
	--tertiary-color: #07def9;
	--quaternary-color: #ffffff;
	--bg-light-color: #efefef;
	--bg-dark-color: #252627;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}
