@import url('animations.css');

:root {
	--primary-color: #040404;
	--secondary-color: #1590f9;
	--tertiary-color: #07def9;
	--quaternary-color: #ffffff;
	--bg-light-color: #efefef;
	--bg-dark-color: #252627;
	--danger-color: #eb0000;
	--success-color: #4cab47;
}

/* general */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

* .dark {
	background-color: var(--bg-dark-color);
	color: var(--bg-light-color);
}

* .dark input,
* .dark textarea {
	border: 1px solid var(--bg-light-color);
	color: var(--bg-light-color);
}

* .light {
	background-color: var(--bg-light-color);
	color: var(--bg-dark-color);
}

* .light input,
* .light textarea {
	border: 1px solid var(--bg-dark-color);
	color: var(--bg-dark-color);
}

body {
	overflow-x: hidden;
}

.container {
	max-width: 1140px;
	padding: 0 0.8rem;
	margin: 0 auto;
}

.content {
	min-height: 100vh;
	padding: 3rem 0;
}

.row {
	display: flex;
	row-gap: 1rem;
	column-gap: 2%;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.row .col {
	flex: 1 1 25%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 32%;
}

.hide {
	display: flex !important;
}

/* headers */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

h1 {
	margin-bottom: 2rem;
}

/* buttons and links */
a {
	text-decoration: none;
	color: var(--secondary-color);
	transition: 0.3s ease;
	font-weight: 500;
}

a:hover {
	color: var(--tertiary-color);
}

button {
	border: none;
}

.btn {
	cursor: pointer;
	text-transform: uppercase;
	font-size: 1.1rem;
	font-weight: 400;
	padding: 0.5rem;
	border-radius: 3px;
	transition: 0.3s ease-in-out;
}

.btn-color {
	color: var(--quaternary-color);
	background-image: linear-gradient(
		45deg,
		var(--secondary-color),
		var(--tertiary-color)
	);
}

.btn-white {
	color: var(--primary-color);
	background-image: linear-gradient(
		45deg,
		var(--bg-light-color),
		var(--quaternary-color)
	);
}

.btn-color:hover {
	background-image: linear-gradient(
		-45deg,
		var(--secondary-color),
		var(--tertiary-color)
	);
}

.btn-white:hover {
	background-image: linear-gradient(
		-45deg,
		var(--bg-light-color),
		var(--quaternary-color)
	);
}

/* logos */
.animate-logo {
	position: relative;
	width: 100%;
	max-width: 220px;
	align-self: center;
	flex: 1 1 220px;
}

.animate-logo img {
	position: absolute;
	left: 0;
	top: 0;
	transform-origin: 50% 50%;
	width: 100%;
}

.animate-logo .logo-icon {
	z-index: 1;
	animation: rotation-animation 25s linear infinite forwards;
	animation-delay: -2s;
}

.animate-logo .logo-acronym {
	z-index: 2;
}

.logo {
	height: 80px;
}

.logo-name {
	height: 40px;
}

/* bar */
.bar {
	display: flex;
	gap: 1rem;
}

/* navbar */
nav,
footer {
	box-shadow: 1px 2px 12px 8px rgba(200, 200, 200, 0.3);
	background-color: var(--quaternary-color);
}

#navbar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#navbar .bar {
	flex-direction: row;
}

#navbar #navbar-drop {
	position: absolute;
	right: 0.2rem;
	font-size: 4rem;
	color: var(--secondary-color);
	transition: 0.3s ease;
	cursor: pointer;
	display: none;
	top: 1rem;
}

#navbar #navbar-drop:hover {
	color: var(--tertiary-color);
}

/* footer */
footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#footer .description {
	text-align: justify;
}

#footer .description::first-letter {
	margin-left: 1.5rem;
}

#footer .bar {
	flex-direction: column;
}

#footer .footer-end {
	justify-content: space-between;
	margin-top: 3rem;
	border-top: 1px solid var(--bg-dark-color);
	padding-top: 3rem;
}

#footer .terms {
	display: flex;
	gap: 1.5rem;
}

/* messages */
.session-message {
	background-color: var(--danger-color);
	color: var(--quaternary-color);
	text-align: center;
	padding: 0.5rem;
	border-radius: 3px;
}

/* forms */
form {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

form .observation {
	margin-top: 2rem;
}

form .observation p {
	text-align: justify;
	margin-top: 1rem;
	font-weight: 300;
}

form .observation p::first-letter {
	margin-left: 1.5rem;
}

form .input-field {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	position: relative;
}

form .input-field label {
	font-size: 1rem;
	font-weight: 600;
}

form .input-field ion-icon {
	position: absolute;
	font-size: 1.5rem;
	color: var(--primary-color);
	left: 0.5rem;
	top: 2.3rem;
}

input,
textarea {
	width: 100%;
	background-color: transparent;
	border-radius: 3px;
	font-size: 1rem;
	padding: 0.4rem;
}

input:focus,
textarea:focus {
	outline: none;
	border-color: var(--secondary-color);
}

input.input-error,
textarea.input-error,
select.input-error {
	border-color: var(--danger-color);
}

input {
	padding-left: 2.2rem;
}

textarea {
	padding: 0.9rem;
}

input::placeholder,
textarea::placeholder {
	font-weight: 300;
}

input:focus + ion-icon {
	color: var(--secondary-color);
}

/* login and register form */
#login,
#register {
	display: flex;
	justify-content: center;
	align-items: center;
}

#login form,
#register form {
	max-width: 320px;
	flex: 1;
}

@media screen and (min-width: 768px) {
	#footer .col:nth-child(2) {
		align-items: center;
	}

	#footer .col:nth-child(3) {
		align-items: flex-end;
	}
}

@media screen and (max-width: 768px) {
	.row .col {
		width: 100%;
		min-width: 100%;
	}

	#navbar {
		align-items: start;
		flex-wrap: wrap;
	}

	#navbar .bar {
		flex-direction: column;
	}

	#navbar .bar,
	#navbar .btn {
		display: none;
	}

	#navbar .bar {
		text-align: center;
		width: 100%;
	}

	#navbar .btn {
		width: 100%;
		margin-top: 1rem;
		justify-content: center;
	}

	#navbar #navbar-drop {
		display: block;
	}

	#footer .terms,
	#footer .footer-end {
		flex-direction: column;
	}
}
