/* general */
#course-home .content {
	display: flex;
	flex-direction: column;
	gap: 7rem;
}

* .dark #course-home .user-steps .col {
	box-shadow: 1px 1px 25px 5px rgba(255, 255, 255, 0.1);
}

#navbar #navbar-drop {
	right: 0.2rem;
	font-size: 3.5rem;
	top: 0.5rem;
}

.section h2 {
	text-align: center;
	margin-bottom: 3.5rem;
}

/* headers */
h2 span {
	color: var(--secondary-color);
}

/* login */
#login {
	min-height: 100vh;
}

#login form {
	padding: 1rem;
	box-shadow: 1px 1px 23px 3px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

#login form h1 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
}

#login form .g_id_signin {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

/* banner */
#banner {
	background-color: var(--quinary-color);
}

#banner .container {
	display: flex;
	gap: 1.5rem;
	min-height: 70vh;
}

#banner .container .info {
	padding: 3rem 0;
	flex: 1;
}

#banner .container .info h1 {
	font-size: 2rem;
	color: var(--secondary-color);
	font-weight: 900;
	text-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

#banner .container .info h2 {
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 1.5rem;
}

#banner .container .image {
	flex: 1;
	display: flex;
	align-items: flex-end;
}

/* presentation */
#presentation p {
	font-weight: 400;
	font-size: 1.1rem;
	text-align: center;
	margin-bottom: 4rem;
}

#presentation .row .col {
	box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#presentation .row .col .bi {
	font-size: 5rem;
	color: var(--tertiary-color);
}

#presentation .row .col h4 {
	text-align: center;
	font-weight: 800;
	font-size: 1.4rem;
	color: var(--secondary-color);
}

#presentation .row .col p {
	font-size: 1.1rem;
	font-weight: 600;
}

/* course card */
.course-card {
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 2px 2px 20px 3px rgba(0, 0, 0, 0.1);
}

.course-card img {
	height: 250px;
	object-fit: cover;
}

.course-card .info {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: space-between;
	flex: 1;
}

.course-card .info a {
	flex-grow: 0;
}

.course-card .info .course-header {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.course-card .info .course-header h3,
.course-card .info .course-header p {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.course-card .info .course-header h3 {
	color: var(--secondary-color);
	text-transform: uppercase;
	font-weight: 900;
}

.course-card .info .course-header h3 .bi {
	font-size: 2rem;
	color: var(--senary-color);
}

.course-card .info .course-header p .bi {
	font-size: 1.2rem;
	margin-left: 0.4rem;
	color: var(--tertiary-color);
}

/* course page */
#course-page .content {
	display: flex;
	flex-direction: column;
	gap: 1.7rem;
}

#course-page .content h1 {
	text-transform: uppercase;
	font-weight: 800;
	text-align: center;
	color: var(--secondary-color);
	text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

#course-page .content img {
	border-radius: 5px;
	box-shadow: 1px 1px 25px 5px rgba(0, 0, 0, 0.2);
}

#course-page .content h2 {
	margin-bottom: 1.5rem;
}

#course-page .content p {
	line-height: 1.8rem;
	text-align: justify;
}

#course-page .content p strong {
	color: var(--secondary-color);
}

#course-page .content p::first-letter {
	margin-left: 2rem;
}

#course-page .content ul {
	margin-top: 2rem;
	list-style: none;
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
}

#course-page .content ul li {
	box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

#course-page .content ul li a {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 0.5rem;
	text-transform: uppercase;
	font-weight: 800;
}

#course-page .content ul li a .bi {
	font-size: 1.5rem;
}

#course-page .content ul li:hover {
	transform: scale(1.02);
	transition: 0.3s ease;
}

#course-page .bi-book-half {
	color: var(--success-color);
}

#course-page .bi-patch-question-fill {
	color: var(--warning-color);
}

/* course topic and quiz */
#course-topic h1,
#course-quiz h1 {
	text-transform: uppercase;
	text-align: center;
}

#course-topic h1,
#course-quiz h1,
#course-topic h2,
#course-quiz h2,
#course-topic h3,
#course-quiz h3 {
	color: var(--secondary-color);
	font-weight: bold;
}

#course-topic p,
#course-quiz p {
	text-align: justify;
	line-height: 1.8rem;
}

#course-topic p::first-letter,
#course-quiz p::first-letter {
	margin-left: 2rem;
}

#course-topic img,
#course-quiz img {
	display: block;
	margin: 0 auto;
	border-radius: 3px;
	box-shadow: 1px 1px 25px 5px rgba(0, 0, 0, 0.1);
}

#course-topic ul,
#course-quiz ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#course-topic ul li,
#course-quiz ul li {
	font-weight: 500;
}

#course-topic .actions {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

#course-topic .actions a {
	box-shadow: 1px 1px 25px 5px rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	border-radius: 3px;
	transition: 0.3s ease;
}

#course-topic .actions a:hover {
	transform: scale(1.1);
}

#course-topic .actions a.next {
	margin-left: auto;
}

#course-quiz strong,
#course-quiz-template strong {
	font-size: 1.2rem;
	text-align: justify;
	font-weight: 500;
	margin-bottom: 2rem;
	display: block;
}

#course-quiz strong span,
#course-quiz-template strong span {
	font-weight: bold;
	color: var(--secondary-color);
}

#course-quiz form,
#course-quiz-template {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

#course-quiz form .alternatives,
#course-quiz-template .alternatives {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

#course-quiz form .alternative-field,
#course-quiz-template .alternative-field {
	display: flex;
	gap: 0.5rem;
}

#course-quiz form .alternative-field input,
#course-quiz-template .alternative-field input {
	transform: scale(0.3);
	flex: 1 1 10%;
	cursor: pointer;
	transition: 0.3s ease;
}

#course-quiz form .alternative-field input:hover + label,
#course-quiz-template .alternative-field input:hover + label {
	box-shadow: 1px 1px 25px 5px rgba(0, 0, 0, 0.3);
}

#course-quiz form .alternative-field label,
#course-quiz-template .alternative-field label {
	flex: 1 1 90%;
	font-size: 1.1rem;
	text-align: justify;
	font-weight: 300;
	transition: 0.3s ease;
	padding: 0.5rem;
	border-radius: 3px;
	cursor: pointer;
}

#course-quiz-completion p {
	text-align: justify;
	margin-top: 2rem;
	font-size: 1.1rem;
}

#course-quiz-completion p::first-letter {
	margin-left: 1.5rem;
}

#course-quiz-completion .actions,
#course-quiz-template .actions {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
}

#course-quiz-template .question {
	margin-top: 2rem;
}

/* comments */
#comments p {
	text-align: justify;
	margin-bottom: 2rem;
	font-size: 1.1rem;
}

#comments p::first-letter {
	margin-left: 2rem;
}

#comments .comment {
	border-radius: 3px;
	box-shadow: 1px 1px 25px 5px rgba(0, 0, 0, 0.15);
	padding: 0.5rem 0.8rem;
}

#comments .comment .user-comment {
	margin-bottom: 2rem;
}

#comments .comment .user-info {
	display: flex;
	align-items: center;
	gap: 1.2rem;
	margin-bottom: 1rem;
}

#comments .comment .user-info img {
	height: 50px;
	border-radius: 50%;
}

#comments .comment .comment-text {
	font-size: 1rem;
}

/* media queries */
@media screen and (max-width: 768px) {
	#banner .container {
		flex-direction: column;
	}
}

@media screen and (max-width: 576px) {
	h1 {
		font-size: 1.5rem;
	}

	h2,
	h3 {
		font-size: 1.2rem;
	}

	h4,
	h5,
	h6,
	p {
		font-size: 1rem;
	}

	#course-quiz form .alternative-field input {
		transform: scale(0.7);
	}
}
