/* general */
#course-home .content {
	display: flex;
	flex-direction: column;
	gap: 7rem;
}

#navbar #navbar-drop {
	right: 0.2rem;
	font-size: 3.5rem;
	top: 0.5rem;
}

.section h2 {
	text-align: center;
	margin-bottom: 3.5rem;
}

/* headers */
h2 span {
	color: var(--secondary-color);
}

/* login */
#login {
	min-height: 100vh;
}

#login form {
	padding: 1rem;
	box-shadow: 1px 1px 23px 3px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

#login form h1 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
}

#login form .g_id_signin {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

/* banner */
#banner {
	background-color: var(--quinary-color);
}

#banner .container {
	display: flex;
	gap: 1.5rem;
	min-height: 70vh;
}

#banner .container .info {
	padding: 3rem 0;
	flex: 1;
}

#banner .container .info h1 {
	font-size: 2rem;
	color: var(--secondary-color);
	font-weight: 900;
	text-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

#banner .container .info h2 {
	font-size: 1.2rem;
	font-weight: 300;
	margin-bottom: 1.5rem;
}

#banner .container .image {
	flex: 1;
	display: flex;
	align-items: flex-end;
}

/* presentation */
#presentation p {
	font-weight: 400;
	font-size: 1.1rem;
	text-align: center;
	margin-bottom: 4rem;
}

#presentation .row .col {
	box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#presentation .row .col .bi {
	font-size: 5rem;
	color: var(--tertiary-color);
}

#presentation .row .col h4 {
	text-align: center;
	font-weight: 800;
	font-size: 1.4rem;
	color: var(--secondary-color);
}

#presentation .row .col p {
	font-size: 1.1rem;
	font-weight: 600;
}

/* course card */
.course-card {
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 2px 2px 20px 3px rgba(0, 0, 0, 0.1);
}

.course-card .info {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.course-card .info .course-header {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.course-card .info .course-header h3,
.course-card .info .course-header p {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.course-card .info .course-header h3 {
	color: var(--secondary-color);
	text-transform: uppercase;
	font-weight: 900;
}

.course-card .info .course-header h3 .bi {
	font-size: 2rem;
	color: var(--senary-color);
}

.course-card .info .course-header p .bi {
	font-size: 1.2rem;
	margin-left: 0.4rem;
	color: var(--tertiary-color);
}

/* course page */
#course-page .content {
	display: flex;
	flex-direction: column;
	gap: 1.7rem;
}

#course-page .content h1 {
	text-transform: uppercase;
	font-weight: 800;
	text-align: center;
	color: var(--secondary-color);
	text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

#course-page .content img {
	border-radius: 5px;
	box-shadow: 1px 1px 25px 5px rgba(0, 0, 0, 0.2);
}

#course-page .content h2 {
	margin-bottom: 1.5rem;
}

#course-page .content p {
	line-height: 1.8rem;
	text-align: justify;
}

#course-page .content p strong {
	color: var(--secondary-color);
}

#course-page .content p::first-letter {
	margin-left: 2rem;
}

#course-page .content ul {
	margin-top: 2rem;
	list-style: none;
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
}

#course-page .content ul li {
	box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
}

#course-page .content ul li a {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 0.5rem;
	text-transform: uppercase;
	font-weight: 800;
}

#course-page .content ul li a .bi {
	font-size: 1.5rem;
}

#course-page .content ul li:hover {
	transform: scale(1.02);
	transition: 0.3s ease;
}

#course-page .bi-book-half {
	color: var(--success-color);
}

#course-page .bi-patch-question-fill {
	color: var(--warning-color);
}

/* media queries */
@media screen and (max-width: 768px) {
	#banner .container {
		flex-direction: column;
	}
}

@media screen and (max-width: 576px) {
	h1 {
		font-size: 1.5rem;
	}

	h2,
	h3 {
		font-size: 1.2rem;
	}

	h4,
	h5,
	h6,
	p {
		font-size: 1rem;
	}
}
