<footer>
  <div id="footer" class="container">
    <div class="row">
      <div class="col">
        <a href="{{ base_url }}/home">
          {% include '/components/others/logo_name.html.twig' %}
        </a>
        <p class="description">O NetLearnHub é uma plataforma online dedicada a oferecer cursos gratuitos especializados
          na área de redes de
          computadores. Nossa missão é proporcionar acesso gratuito a uma ampla variedade de recursos educacionais em
          Tecnologia da Informação (TI), visando fornecer uma experiência de aprendizado abrangente para estudantes e
          profissionais interessados no mundo das redes de computadores.</p>
      </div>
      <div class="col">
        <h4>Fique por Dentro</h4>
        {% include '/components/users/bar.html.twig' %}
      </div>
      <div class="col">
        <h4>Para Aprender</h4>
        {% include '/components/users/courses_bar.html.twig' %}
      </div>
    </div>
    <div class="row footer-end">
      <p class="copy">2023 &copy; <b>NetLearnHub</b></p>
      <p class="terms">
        <a href="{{ base_url }}/terms-and-conditions">Termos e condições</a>
        <a href="{{ base_url }}/privacy-policy">Política de Privacidade</a>
      </p>
    </div>
  </div>
</footer>