<nav>
  <div id="navbar" class="container">
    <i class="bi bi-list" id="navbar-drop"></i>
    <a href="{{ base_url }}/home">
      {% include '/components/others/logo.html.twig' %}
    </a>
    {% include '/components/users/bar.html.twig' %}
    {% if user_is_connected == true %}
    <a href="{{ base_url }}/user/logout" class="btn btn-color wauto">Logout</a>
    {% else %}
    <a href="{{ base_url }}/user/login" class="btn btn-color wauto">Login {{ user_is_connected }}</a>
    {% endif %}
  </div>
</nav>