{% extends '/components/administrators/base.html.twig' %}
{% block content %}
<div id="dashboard" class="content">
  {% if session_message %}
  <p class="session-message {{ session_message_type }}">
    {{ session_message }}
  </p>
  {% endif %}
  <div class="header-content">
    <h1>Todos os Cursos:</h1>
    <div class="filter">
      <select name="filter" id="filter">
        <option value="" disabled selected>Filtrar</option>
        <option value="all">Todos</option>
        <option value="active">Ativos</option>
        <option value="inactive">Inativos</option>
      </select>
    </div>
  </div>
  {% if courses %}
  <div class="row">
    {% for course in courses %}
    {% include '/components/administrators/course_card.html.twig' with {'course': course} %}
    {% endfor %}
  </div>
  {% else %}
  <p>Ainda não há cursos criados!</p>
  {% endif %}
</div>
{% endblock %}