{% extends '/components/header.html.twig' %}
{% block inner %}
<div id="admin-login-form">
  <form action="{{ base_url }}/admin/login" method="post">
    <div class="input-field">
      <label for="email">E-mail:</label>
      <input type="email" name="email" id="email">
    </div>
    <div class="input-field">
      <label for="password">Senha:</label>
      <input type="password" name="password" id="password">
    </div>
    <button type="submit">Entrar</button>
  </form>
</div>
{% endblock %}