:root {
	--primary-color: ##009641;
	--secondary-color: ##ffca00;
	--tertiary-color: ##302682;
	--quaternary-color: ##f9faff;
	--first-text-color: #121212;
	--second-text-color: #272727;
	--third-text-color: #4a4a4a;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}
