{% extends '/components/base.html.twig' %}
{% block content %}
<div id="course-home">
  <img src="{{ baseURL }}/public/images/NetLearnHubLogo.png" alt="Logo">
  {% if courses %}
  <div>
    {% for course in courses %}
    <span>{{ course.title }}</span>
    <span>{{ course.description }}</span>
    <span>{{ course.image }}</span>
    <br>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}