{% extends '/components/users/base.html.twig' %}
{% block content %}
<div id="course-home" class="content">
  {% if session_message %}
  <p class="session-message {{ message_type }}">
    {{ session_message }}
  </p>
  {% endif %}
  {% if courses %}
  <div>
    {% for course in courses %}
    <p>{{ course.title }}</p>
    <p>{{ course.description }}</p>
    <br>
    {% endfor %}
  </div>
  {% else %}
  <p>Ainda não há cursos ativos para exibir!</p>
  {% endif %}
</div>
{% endblock %}