{% extends '/components/base.html.twig' %}
{% block content %}
<div id="course-home">
  <img src="{{ baseURL }}/public/images/NetLearnHubLogo.png" alt="Logo">
  {% if courses %}
  {% for course in courses %}
  <p>{{ course.title }}</p>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}