{% extends '/components/users/base.html.twig' %}
{% block content %}
<div id="course-home">
  {% include '/components/others/banner.html.twig' %}
  <div class="container content">
    {% if courses %}
    <div id="courses" class="section">
      <h2>Cursos Gratuitos Para <span>Começar Hoje Mesmo</span></h2>
      {% for course in courses %}
      <p>{{ course.title }}</p>
      <p>{{ course.description }}</p>
      <br>
      {% endfor %}
    </div>
    {% else %}
    <p>Ainda não há cursos ativos para exibir!</p>
    {% endif %}
  </div>
</div>
{% endblock %}