{% extends '/components/administrators/base.html.twig' %}
{% block content %}
<div id="quiz-caeate" class="content">
  <h1>Criar Novo Quiz do Curso: <span>{{ course_name }}</span></h1>
  <form action="" method="post"></form>
</div>
{% endblock %}