{% extends '/components/users/base.html.twig' %}
{% block content %}
<div class="container">
  <div id="privacy-policy" class="content">
    <h1>Política de Privacidade</h1>
    <span>Última atualização: 25 de Novembro, 2023</span>
    <p>A sua privacidade é importante para nós. Esta Política de Privacidade explica como o NetLearnHub coleta, usa,
      divulga e protege as informações pessoais que você fornece quando utiliza nosso site.</p>
    <h2>Informações Coletadas</h2>
    <ul>
      <li><b>Informações Pessoais</b>: Podemos coletar seu nome, endereço de e-mail e outras informações pessoais quando
        você se registra em nossa plataforma ou preenche formulários no site.</li>
      <li><b>Informações de Uso</b>: Podemos coletar informações sobre como você utiliza nosso site, incluindo páginas
        visitadas, tempo de permanência e interações com o conteúdo.</li>
    </ul>
    <h2>Uso das Informações</h2>
    <ul>
      <li>Utilizamos as informações coletadas para fornecer, manter, proteger e melhorar nossos serviços, bem como para
        personalizar sua experiência no NetLearnHub.</li>
      <li>Podemos enviar e-mails periódicos sobre novos recursos, atualizações ou outras informações que consideramos
        relevantes para você.</li>
    </ul>
    <h2>Proteção das Informações</h2>
    <ul>
      <li> Implementamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado,
        alteração, divulgação ou destruição.</li>
    </ul>
    <h2>Compartilhamento de Informações</h2>
    <ul>
      <li> Não vendemos, trocamos ou transferimos suas informações pessoais para terceiros sem seu consentimento, exceto
        quando necessário para fornecer serviços solicitados por você.</li>
    </ul>
    <h2>Cookies e Tecnologias Semelhantes</h2>
    <ul>
      <li>Utilizamos cookies e tecnologias similares para melhorar sua experiência de navegação. Você pode configurar
        seu
        navegador para recusar todos ou alguns cookies, mas isso pode afetar o funcionamento do site.</li>
    </ul>
    <h2>Links para Sites de Terceiros</h2>
    <ul>
      <li> Nosso site pode conter links para sites de terceiros. Esta Política de Privacidade se aplica apenas ao
        NetLearnHub e não somos responsáveis pelas práticas de privacidade desses sites.</li>
    </ul>
    <h2>Alterações na Política de Privacidade</h2>
    <ul>
      <li> Reservamo-nos o direito de atualizar esta Política de Privacidade a qualquer momento. Recomendamos que você
        verifique periodicamente as alterações. Ao continuar a utilizar nosso site após essas mudanças, você estará
        concordando com a Política de Privacidade revisada.</li>
    </ul>
    <p>Ao utilizar o NetLearnHub, você concorda com o processamento de suas informações conforme descrito nesta Política
      de Privacidade.</p>
  </div>
</div>
{% endblock %}