{% extends '/components/users/base.html.twig' %}
{% block content %}
<div class="container">
  <div id="about" class="content">
    <h1>Sobre o NetLearnHub</h1>
    <p>Bem-vindo ao NetLearnHub! Somos uma plataforma comprometida em democratizar o conhecimento na área de Redes de
      Computadores. Nossa missão é oferecer acesso gratuito e aberto a uma variedade de cursos especializados, desde os
      fundamentos básicos até os tópicos mais avançados. Acreditamos que todos devem ter a oportunidade de aprender e se
      desenvolver nesse campo essencial da tecnologia.</p>
    <p>No NetLearnHub, nossa prioridade é criar um ambiente educacional inclusivo e enriquecedor. Nossos cursos são
      elaborados por especialistas e profissionais experientes, visando proporcionar uma experiência de aprendizado
      abrangente e de alta qualidade. Queremos capacitar estudantes, entusiastas e profissionais a construir uma base
      sólida em Redes de Computadores, preparando-os para desafios reais no mundo da tecnologia.</p>
    <p>Nosso compromisso é oferecer recursos educacionais de ponta, adaptados para atender às necessidades de todos os
      interessados em redes. Ao proporcionar conteúdo gratuito e acessível, esperamos criar oportunidades para o
      aprendizado contínuo e o desenvolvimento de habilidades valiosas. Junte-se a nós nessa jornada de descoberta e
      crescimento no vasto campo das Redes de Computadores!</p>
  </div>
</div>
{% endblock %}