{% extends '/components/users/base.html.twig' %}
{% block content %}
<div class="container">
  <div id="terms-and-conditions" class="content">
    <h1>Termos e Condições de Uso</h1>
    <span>Última atualização: 25 de Novembro, 2023</span>
    <h2>Aceitação dos Termos</h2>
    <p>Ao acessar o site NetLearnHub, você concorda em cumprir estes termos e condições, bem como todas as leis e
      regulamentos aplicáveis. Se você discordar de qualquer parte destes termos, por favor, não use nosso site.</p>
    <h2>Uso do Conteúdo</h2>
    <p>O conteúdo disponível no NetLearnHub é apenas para fins informativos e educacionais. Não garantimos a precisão,
      integridade ou atualidade dessas informações. Portanto, seu uso do conteúdo é por sua própria conta e risco.</p>
    <h2>Propriedade Intelectual</h2>
    <p>Todo o conteúdo, marcas registradas, logotipos e materiais apresentados no site são propriedade do NetLearnHub ou
      de seus licenciadores e estão protegidos por leis de propriedade intelectual.</p>
    <h2>Links para Outros Sites</h2>
    <p>Nosso site pode conter links para sites de terceiros. Não somos responsáveis pelo conteúdo ou pela política de
      privacidade desses sites. A inclusão de qualquer link não implica endosso por parte do NetLearnHub.</p>
    <h2>Limitações de Responsabilidade</h2>
    <p>O NetLearnHub não se responsabiliza por quaisquer danos diretos, indiretos, acidentais, consequenciais ou
      especiais
      resultantes do uso ou incapacidade de usar nosso site, mesmo que tenhamos sido informados sobre a possibilidade de
      tais danos.</p>
    <h2>Alterações nos Termos e Condições</h2>
    <p>Reservamo-nos o direito de revisar estes termos e condições a qualquer momento sem aviso prévio. Ao usar este
      site,
      você concorda em ficar vinculado à versão mais recente destes termos e condições de uso.</p>
    <h2>Lei Aplicável</h2>
    <p>Estes termos e condições são regidos e interpretados de acordo com as leis do [país/escolher país], e você
      concorda
      irrevogavelmente com a jurisdição exclusiva dos tribunais desse país.</p>
    <p>Ao continuar a usar o NetLearnHub, você indica que leu, compreendeu e concorda com estes termos e
      condições de uso.</p>
  </div>
</div>
{% endblock %}